<p-toast></p-toast>

<div class="card">
  <form [formGroup]="emailForm" *ngIf="emailForm">

    <p-table [value]="tableRowArray.controls" dataKey="value.id"  editMode="row">
      <ng-template pTemplate="header">
        <tr>
          <th class="padding">Identifier</th>
          <th>Email</th>
          <th>Start</th>
          <th>End</th>
          <th style="width:8rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-editing="editing" let-i="rowIndex">
        <ng-container formArrayName="tableRowArray">
          <tr [pEditableRow]="row" [formGroupName]="i">
            <td pEditableColumn class="padding">
              {{row.controls.code.value}}
            </td>
            <td pEditableColumn class="padding">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="email" formControlName="email" [ngClass]="{'invalid': !row.controls.email.valid }" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.controls.email.value}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn class="padding" #startDate>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-calendar dateFormat="mm/dd/yy" [appendTo]="startDate" formControlName="startDate"></p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.controls.startDate.value | date :'MM/dd/yyyy' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn class="padding" #endDate>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-calendar dateFormat="mm/dd/yy" [appendTo]="endDate" formControlName="endDate"></p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                  {{row.controls.endDate.value | date :'MM/dd/yyyy' }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="text-align:center" class="padding">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="onRowEditInit(row)" class="p-button-info"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                [disabled]="!row.valid " (click)="onRowEditSave(row)"
                class="p-button-info p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="onRowEditCancel(row, i)" class="p-button-info p-button-danger"></button>
            </td>
          </tr>
        </ng-container>
      </ng-template>
    </p-table>

    <br>Dirty: {{ emailForm.dirty }}
    <br>Touched: {{ emailForm.touched }}
    <br>Valid: {{ emailForm.valid }}
    <br>Value: {{ emailForm.controls.tableRowArray.value | json }}

  </form>

</div>
