/* You can add global styles to this file, and also import other style files */
body {
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.padding {
  padding-left: 0.2em !important;
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
  padding-right: 0.2em !important;
}

.invalid {
  border-color: red !important;
  border-style: solid !important;
  color:red !important;
}


